/* DATEI: Manual.css */

p,ul,ol,li,div,td,th,blockquote,address,nobr			{color:#000000;}

body		{margin-top:10mm; 
		 margin-bottom:4mm;
                 background:URL(../pics/wall.jpg);
	 	}
table 		{background:URL(../pics/wall.jpg);
}
input 		{background-color:#CCCCCC;
}
p		{text-indent: 1em;
		}
dd 		{text-align:left;
		}

h1		{font-weight:bold;
		 text-align:center;
	 	}
h2		{margin-top:25mm; 
		 margin-bottom:5mm;
                 font-weight:bold;
		 text-align:left;
	 	}
h3		{font-style:italic;
		 font-weight:bold;
		}
h4		{font-weight:bold;
		}

blockquote	{margin-left:1cm;}

ul		{list-style-type:disk;}

a 		{text-decoration:none;
		}
a:link		{color:#0000AA; }
a:visited	{color:#FF6644; }
a:active	{color:#FF0000; }
