/*
 * Style Sheet required by the HomepageSearchEngine Executable to properly display the results pages.
 * You may want to edit some definitions. Additional customizing of the results pages can be done in section 8 of the "hse.ini" file.
 */


/* General styles. You may want to delete this section if you use your own general Style Sheet */

body {
	background-color: aliceblue;
}

div {
	font-family: Arial,Helvetica,sans-serif;
	color: black;
	font-size: 12px;
}

select {
	font-family: Arial,Helvetica,sans-serif;
	color: black; font-size: 13px;
}

a:link {
	color: darkblue;
	text-decoration: none;
}

a:visited {
	color: darkblue;
	text-decoration: none;
}

a:hover {
	color: red;
	background-color: white;
}

input:focus {
	color: darkgreen;
}


/* How HSE should print bold and small text, respectively */

.HSE-bold {
	font-weight: bold;
	font-family: Verdana;
}

.HSE-small {
	font-size: 11px;
	color: gray;
}

a.HSE-small:link {
	color: gray;
	text-decoration: none;
}

a.HSE-small:visited {
	color: gray;
	text-decoration: none;
}

a.HSE-small:hover {
	color: gray;
	text-decoration: underline;
}


/* Result links belong to the class "HSE-link" */

a.HSE-link:link {
	text-decoration: none;
}

a.HSE-link:visited {
	text-decoration: none;
}

a.HSE-link:hover {
	color: red;
	background-color: white;
}


/* Style of each search result: First, an icon is printed (unless you have turned that off via hse.ini's "results_details") */

.HSE-icon {
	width: 16px;
	height: 16px;
	float: left;
	margin: 0px 5px 15px;
}


/* The description division. If you don't want it intented, specify '0px' as 'margin-left' value. */

.HSE-description {
	margin-left: 45px;
	padding: 4px;
}


/* Within that division, a meta description is printed (unless you have turned that off via hse.ini's "results_descriptions") */

.HSE-meta-desc {
	color: green;
	font-size: 12px;
}


/* Below, list items are printed (unless you have turned that off via hse.ini's "results_descriptions") */

.HSE-list-item {
	list-style: none outside;
	padding-top: 2px;
	font-size: 11px;
}


/* The matches belong to the class "HSE-match". Some may want to experiment with these. */

.HSE-match:before {
	content: "";
}

.HSE-match:after {
/*	content: ""url(); */
}


/* Text, Links and Button in the pre-built input form (unless you have turned that off via hse.ini's "formtable_width") */

.HSE {
	color: black;
	font-size: 13px;
}

a.HSE:link {
	color: black;
	text-decoration: none;
	font-size: 13px;
}

a.HSE:visited {
	color: black;
	text-decoration: none;
	font-size: 13px;
}

a.HSE:hover {
	color: red;
	font-size: 13px;
}

.HSE-button {
	font-size: 100%;
	border: 1px outset gray;
	background-color: gray;
	color: white;
}


/*
 * During the search, 2 dynamic progress bars can be shown. You can disable them by changing the 'display' values from 'inline' to 'none'.
 * The 'position', 'top' and 'left' parameters are REQUIRED for Netscape 4 to define a layer (otherwise it produces an error!)
 */

#HSE-progress1 {
	display: inline;
	position: relative; top: 0px; left: 0px;
}

#HSE-progress2 {
	display: inline;
	position: relative; top: 0px; left: 0px;
}


/* Don't change the following definition - it exists only to ensure that this file is being recognized */

.HSE-hidden {
	display: none;
}
