/* DATEI: chem.css */

p,h1,h2,h3,h4,ul,ol,li,div,td,th,address,blockquote,b,i		{font-family:Helvetica,Arial,sans-serif;}
p,ul,ol,li,div,td,th,blockquote,address,nobr			{font-size:13pt; }

body		{margin-left:4mm; 
		 margin-top:10mm; 
		 margin-bottom:4mm; 
		 background-color:white;
	 	}
       
h1		{font-size:25pt;
		 font-weight:bold;
		 font-style:italic;
		 color:#5C5CC9;
		 text-align:center;
	 	}
h2		{font-size:24pt; 
		 margin-top:4mm; 
		 font-weight:bold;
		 text-align:left;
	 	}
h3		{font-size:20pt; 
		 margin-top:4mm;
		 font-weight:bold;
		}
h4		{font-size:16pt;
		 margin-top:4mm;
	 	}

blockquote	{margin-left:1cm;}

ul		{list-style-type:disk;}

a:link		{ color:#5C5CC9; }
a:visited	{ color:#9999FF; }

.changeh	{width:40%;
		 size:3px;
		 margin-top:1mm;
		 text-align:left;
		 }
.changep	{font-family:Helvetica,Arial,sans-serif;
		 font-size:10pt;
		 text-align:left;
		 margin-top:30mm;
		 }
table		{background-color:#CCCCFF}		//set background for 'home' tab on menu
